@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 275 100% 25%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 276 100% 50%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 276 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 180 25% 10%;
    --foreground: 210 40% 98%;
    --card: 180 25% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 180 25% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 275 100% 35%;
    --primary-foreground: 210 40% 98%;
    --secondary: 276 100% 40%;
    --secondary-foreground: 210 40% 98%;
    --muted: 180 25% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 276 100% 50%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 180 25% 25%;
    --input: 180 25% 25%;
    --ring: 276 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyBAMAAADsEZWCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVQTFRF////AAAAAAAAAAAAAAAAAAAAAAAA////AAAAwbP/YgAAAAd0Uk5T//8A/wD/gP93/wGSAAAAAWJLR0QHFmKyCQAAAEhJREFUeNqdz7ENACAMAlAz8uA/58P8qg6shwD82n6sJ7fRz5ZkR1pG9kR2tK9c1pG9kR2tK9c1pG9kR2tK9c1pG9kR2tK9c1pG98P/wCSQkF3YwA7cSAAAAAElFTkSuQmCC');
    background-repeat: repeat;
  }
}

.glass-card {
  @apply bg-card/50 backdrop-blur-xl border border-white/10;
}
